  /* Style the body */
  :root{
    --white: white;
    --dark:#1f1d36;
    
  }
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: var(--dark);
      margin: 0;
    }

  /* Style the header */
  .header {
    background-color: var(--dark);
    padding: 20px;
    text-align: center;
  }

  /* Style the logo */
  .header h1 {
    color: white;
    font-size: 40px;
    text-align: center;
  }
  /* Style the navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
   /* Style the navigation links */
   .navbar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: underline;
    text-align: center;

    .navbar a:hover {
        background-color: #ddd;
        color: black;
     }
      
      /* Style the main content */
      #main {
        display: flex;
        margin: 20px;
        color: white;
        
        
      }
      
     /* Style the side content */
    .about{
        text-emphasis: none;
        background-color: #fff;
      } 
    .image{
        align-content:flex-end;
        border-radius: 50%;
        width: 200px;

    }

    .footer {
        width: 100%;
        bottom: 0;
        padding: 20px;
        text-align: center;
        background-color: white;
        color: #fff;
        margin-top: auto;
      }

      @media screen and (max-width: 768px) {
        main,
        nav {
          flex-direction: column;
        }
          

      }
   }